<form [formGroup]="productForm" (ngSubmit)="updateProduct()">

  <div class="container">
    <div class="jumbotron">
      <p>Opdater produkt:</p>

      <!-- Label Name -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" formControlName="name" placeholder="{{product.name}}">
        </div>
      </div>

      <!-- Category  Options: VIRKER IKKE ENDNU!-->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Type:</label>
        <div class="col-sm-10">
          <div class="form-group">
            <label>
              <select class="form-control" formControlName="category">
                <optgroup label="Webshop">
                  <option value="Headset">Headset</option>
                  <option value="Capturecard">Capture Card</option>
                  <option value="Mikrofon">Mikrofon</option>
                  <option value="GamerStol">Gamerstol</option>
                  <option value="Webcam">Webcam</option>
                  <option value="Greenscreen">Greenscreen</option>
                </optgroup>
                <optgroup label="Grafik">
                  <option value="Overlay">Overlay</option>
                  <option value="Banner">Banner</option>
                </optgroup>
              </select>
            </label>
          </div>
        </div>
      </div>

      <!-- Label Description -->
      <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="3" type="text" formControlName="description" placeholder="{{product.description}}"></textarea>
        </div>
      </div>

      <!-- Label RetailPrice -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">RetailPrice:</label>
        <div class="col-sm-10">
          <input class="form-control" type="number" formControlName="retailPrice" placeholder="{{product.retailPrice}}">
        </div>
      </div>

      <!-- Check Box VAT: VIRKER IKKE ENDNU! -->
      <div class="form-group row">
        <label for="productVAT" class="col-sm-2 col-form-label">Inkl. 25% moms</label>
        <div class="col-sm-10">
          <input type="checkbox" id="productVAT" value="productVAT">
        </div>
      </div>


      <!-- Label WholeSalePrice -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">WholeSalePrice:</label>
        <div class="col-sm-10">
          <input class="form-control" type="number" formControlName="wholeSalePrice" placeholder="{{product.wholeSalePrice}}">
        </div>
      </div>

      <!-- Label Stock -->
      <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Stock:</label>
        <div class="col-sm-10">
          <input class="form-control" type="number" formControlName="stock" placeholder="{{product.stock}}">
        </div>
      </div>

      <!--
      BIG ERRORS HAPPENING DUE TO THIS SOMEHOW
      <!- Pic FileChooser ->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Billede</label>
        <div class="col-sm-10">
          <input type="file" formControlName="PicUrl" accept="image/gif, image/jpeg, image/png"/>
        </div>
      </div>

      -->

      <!-- Submit/Reset buttons -->
      <br>
      <div class="form-group row" >
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-dark">Reset</button>
        </div>
      </div>
    </div>
  </div>
</form>
