<h2>Admin Page</h2>
<form [formGroup]="productForm" (ngSubmit)="addProduct()">
  <div class="container">
    <div class="jumbotron">
      <p>Add a product:</p>
  <label>
    Name:
    <input type="text" formControlName="name">
  </label>

  <label>
    Description:
    <input type="text" formControlName="description">
  </label>

  <label>
    Price:
    <input type="number" formControlName="price">
  </label>

  <label>
    Category:
    <input type="text" formControlName="category">
  </label>

  <label>
    Stock:
    <input type="number" formControlName="stock">
  </label>

  <label>
    PicUrl:
    <input type="text" formControlName="picUrl">
  </label>



  <!-- lower buttons -->
  <br>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-dark">Reset</button>
    </div>
  </div>
    </div>
  </div>
</form>
