<h2>Admin Page</h2>
<form [formGroup]="productForm" (ngSubmit)="addProduct()">

  <div class="container">
    <div class="jumbotron">
      <p>Add a product:</p>

      <!-- FormGroup -->
  <div class="form-group row">
  <label class="col-sm-2 col-form-label">
    Name:
    <input type="text" formControlName="name">
  </label>
  </div>

      <div class="form-group row">
  <label  class="col-sm-2 col-form-label">
    Description:
    <input type="text" formControlName="description">
  </label>
      </div>

      <div class="form-group row">
  <label class="col-sm-2 col-form-label">
    Price:
    <input type="number" formControlName="price">
  </label>
      </div>

        <!-- Category -->
      <div class="form-group row">
  <label  class="col-sm-2 col-form-label">
    Category:
    <input type="text" formControlName="category">
  </label>
      </div>

      <div class="form-group row">
  <label  class="col-sm-2 col-form-label">
    Stock:
    <input type="number" formControlName="stock">
  </label>
      </div>

      <div class="form-group row">
  <label  class="col-sm-2 col-form-label">
    PicUrl:
    <input type="text" formControlName="picUrl">
  </label>
      </div>

  <!-- buttons -->
  <br>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-dark">Reset</button>
    </div>
  </div>
    </div>
  </div>
</form>

