<h2 class="text-center">Her skal indsættes kategorien der er valgt fra dropdown</h2>
<hr>


<div  class="container">
  <div  class="row text-center">

      <div *ngFor="let product of products" class="col-md-4 pb-1 pb-md-0">
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/400X200.gif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description.slice(0,150)}}...</p>
            <a href="/details/{{product.id}}" class="btn btn-primary">Vis</a>
          </div>
        </div>
      </div>

  </div>
</div>









<!-- This is the Admin List Page!
<div class="container">
<div class="jumbotron">
  <button type="button" class="btn btn-primary">Tilføj Produkt</button>
  <hr>
  <div class="row">

    <div class="col-xl-2">
      <h5>Webshop</h5>
      <ul class="list-group">
        <li class="list-group-item"><a href="#">Webcams</a></li>
        <li class="list-group-item"><a href="#">Capture Cards</a></li>
        <li class="list-group-item"><a href="#">Mikrofoner</a></li>
        <li class="list-group-item"><a href="#">Gamerstole</a></li>
        <li class="list-group-item"><a href="#">Green Screens</a></li>
      </ul>

      <h5>Grafik</h5>
      <ul class="list-group">
        <li class="list-group-item"><a href="#"> Layout</a></li>
        <li class="list-group-item"><a href="#"> Banner</a></li>
      </ul>
    </div>

    <div class="col-xl-9">
      <h5>Label for kategori</h5>
      <ul class="list-group" *ngIf="products">
        <li class="list-group-item" *ngFor="let product of products">
            <a routerLink="/details/{{product.id}}">
              {{product.name}} </a>
            <h1 *ngIf="!products">Loading...</h1>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
-->
