<h2 class="text-center">Her skal indsættes kategorien der er valgt fra dropdown</h2>
<hr>


<div  class="container">
  <div  class="row text-center">

      <div *ngFor="let product of products" class="col-md-4 pb-1 pb-md-0">
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/400X200.gif" width="400" height="200" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description.slice(0,150)}}...</p>
            <a href="/details/{{product.id}}" class="btn btn-primary">Vis</a>
          </div>
        </div>
      </div>

  </div>
</div>

