 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"> <a class="nav-link" routerLink="/">Home</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLink="/products">Webshop</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLink="/products">Grafik</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLink="/admin-products">AdminList</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLink="/contact">Kontakt</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLink="/add">Add Product</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLink="/login">login</a> </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"> <a class="nav-link" href="#">Til kassen <img src="../../assets/images/basket.png" height="32" width="32" alt="Couldn't find image"/></a> </li>
    </ul>
  </div>
</nav>

