<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"> <a class="nav-link" href="#">Home</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLink="/products">Webshop</a> </li>
      <li class="nav-item"> <a class="nav-link" href="{{ url('/graphic') }}">Grafik</a> </li>
      <li class="nav-item"> <a class="nav-link" href="{{ url('/news') }}">Nyheder</a> </li>
      <li class="nav-item"> <a class="nav-link" href="#contact">Kontakt</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLink="/add">Add Product</a> </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"> <a class="nav-link" href="#">Til kassen <img src="images/32X32.gif"/></a> </li>
    </ul>
  </div>
</nav>
