<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-12" id="contact">
      <h3>Kontakt os</h3>
      <p><b>StreamBoss.dk</b> <br>
        Kronprinsensgade 75 <br>
        6700 Esbjerg <br>
        Email: info@streamboss.dk <br>
        Tlf: (+45) 23257210 </p>
    </div>
    <div class="col-md-6 col-12">
      <h3>Information</h3>
      <p>Om StreamBoss.dk<br>
        <a href="">FAQ</a> <br>
        <a href="">Handelsbetingelser</a> </p>
    </div>
  </div>
</div>
<hr>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Copyright © StreamBoss.dk. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
